# ==========================
# IGNORAR DE DJANGO (Portal)
# ==========================
portal_web/**/__pycache__/
portal_web/**/*.py[cod]
portal_web/**/*.sqlite3
portal_web/**/venv/
portal_web/**/.env
portal_web/**/media/   # Opcional: Si no quieres subir fotos de prueba
*.log
*.pot
*.pyc
# ==========================
# IGNORAR DE FLUTTER (Movil)
# ==========================
app_movil/**/.dart_tool/
app_movil/**/.packages
app_movil/**/.pub/
app_movil/**/build/
app_movil/**/.flutter-plugins
app_movil/**/.flutter-plugins-dependencies
app_movil/android/.gradle
app_movil/android/local.properties
app_movil/android/**/*.iml

# iOS
app_movil/ios/.symlinks/
app_movil/ios/Pods/
app_movil/ios/Flutter/Flutter.framework
app_movil/ios/Flutter/App.framework

# ==========================
# SISTEMA
# ==========================
.vscode/
.idea/
.DS_Store